<div id="footer" class="mx-auto vp-footer">
  <div class="vp-footer-blue">
    <div class="vp-footer-blue-wrapper">
      <p class="mx-2 link">
        <a href="<%= AppSettings['settings.parent_site'] %>" target="_blank">Back to VideoPlasty</a>
      </p>
      <p class="mx-2 link">
        <a href="<%= AppSettings['settings.parent_site'] %>terms-and-conditions" target="_blank">Terms of Use</a>
      </p>
      <p class="mx-2 link">
        <a href="<%= AppSettings['settings.parent_site'] %>privacy-policy" target="_blank">Privacy Policy</a>
      </p>
      <p class="mx-2 link">
        <a href="<%= AppSettings['settings.parent_site'] %>license-agreement" target="_blank">License Agreement</a>
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-center vp-footer-copyright-content">
      © 2022 <a class="ml-1" href="<%= AppSettings['settings.parent_site'] %>">VideoPlasty SRL</a>.
    </div>
  </div>
</div>
